src/MessageBusServiceProvider/bin/*
src/MessageBusServiceProvider/obj/*
src/DataProviderService/bin/*
src/DataProviderService/obj/*
src/ThermoProcessWorker/bin/*
src/ThermoProcessWorker/obj/*
src/ThermoDataModel/obj/*
src/ThermoDataModel/bin/*
